@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/game-of-squids');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.cdnfonts.com/css/conthrax');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --bg: #FAFAFA;
  --color-text-navbar: #fbfbfb;
  --navbar-color: #010101;
  --color-text: #121212;
}

html [data-theme='dark'] {
  --bg: #030303;
  --color-text-navbar: #121212;
  --navbar-color: #fbfbfb;
  --color-text: #FAFAFA;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'conthrax';
  overflow: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

form {
  margin-top: 10%;
    padding: 30px;
    z-index: 20;
  }
  form h1 {
    font-size: 20px;
    color: var(--color-text-body);
  }
  form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
  }
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
  }
  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .groupe label {
      color: var(--color-text-body);
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
  }
  form .corps-formulaire .gauche .groupe i {
    position: absolute; /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
  }
  form .corps-formulaire .droite {
    margin-left: 40px;
    width: 50%;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
  }
  form .pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire{
      width: 100%;
      text-align: center;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
  }
  #success-message{
    color: darkgreen;
  }
  @media screen and (max-width: 550px) {
    form .corps-formulaire .droite {
      margin-left: 0px;
      width: 90%;
      height: 40vh;
  
    }
  }
  @media screen and (max-width: 550px) {
    form .corps-formulaire {
      justify-content: center;
    }
  }